body {
 font-family: Verdana, Sans-serif;
}


header h1 {
 background-color: #ccffff;
 padding: 50px;
 text-align: center;
}


nav {
 margin: 0;
 box-sizing: border-box;
 text-align: center;
 }
 
 
li {
 background-color: beige;
 border: solid 3px blue;
 display: inline-block;
 width:100px;
 border-radius: 30%;
 padding: 20px;
  }

div {
 border: solid 2px blue;
 margin-top: 0 auto;
}

main {
 background-color: skyblue;
 margin: 0 100px;
}

p {
 line-height:150%;
}

dl {
 background-color: #ffcccc;
}

dt {
 font-weight: bold;
 border-left:solid 8px blue;
 padding-left: 5px;
}

dd {
 padding: 10px;
}


footer {
 color: gray;
  background-color: beige;
 text-align: center;
 padding: 50px 100px 10px;
}



