header h1 {
 background-color: #9999ff;
 text-align: center;
}




nav ul {
 background-color: yellow;
 }
 
 
nav ul li {
 background-color: orange;
 width: 100px;
  }







main {
  width: 70%;
 background-color: yellow;
 float: left;
}


.clf::after {
  content: '':
   display: block;
 clear: both;
}

.intro {
  background-color: #ccff99;
}



aside {
 background-color: #ffcccc;
 width: 25%;

}




footer {
  background-color: #cccccc;
 text-align: center;
}



