header {
 background-color: navy;
 height: 150px;
}

header h1 {
 color: white;
 background-color: skyblue;
 paddhing: 50px;
}


nav ul {
 background-color: yellow;
 }
 
 
nav ul li {
 background-color: orange;
 width: 120px;
 height: 50px;
 list-style: none;
  }







main {
  width: 70%;
 background-color: beige;
 float: left;
}


.intro {
  background-color: green;
}



aside {
 background-color: pink;
 width: 25%;
 float: right;

}

aside h3 {
 background-color: red;
}

aside ul {
 background-color: yellow;
}

aside ul li {
 background-color: orange;
}

.clf::after {
 content:'';
 display: block;
 clear: both;
}


footer {
  background-color: gray;
 text-align: center;
 height: 100px;
}



